<template>
    <div class="change-mdp">
        <div class="container">
            <fieldset>
                <legend>Veuillez vous connecter</legend>

                <label for="username" >Nom d'utilisateur:</label>
                <input name="username" v-model="username" type="text" placeholder="username" />

                <label for="oldPassword" >Ancien Mdp:</label>
                <input name="oldPassword" v-model="oldPassword" type="password" placeholder="Ancien Mdp" />

                <label for="newPassword">Nouveau Mdp:</label>
                <input name="newPasswordassword" type="password" v-model="newPassword" placeholder="Nouveau Mdp"/>

                <button @click="sendChanges">Envoyer</button>
            </fieldset>
        </div>
    </div>
</template>


<script>
import axios from 'axios'
import TDESFormatter from "../../../utils/cryptoUtils"
export default {
    name : "ChangeMdp",
    data(){
        return{
            username: "",
            oldPassword:"",
            newPassword:""
        }
    },
    methods:{
        sendChanges(){
            let encrypted = this.CryptoJS.TripleDES.encrypt(JSON.stringify({username: this.username, oldPassword:this.oldPassword, newPassword: this.newPassword}), "maClef");
            let inJSON =TDESFormatter.stringify(encrypted);

            axios.post("http://localhost:3000/auth/changePswd", {contenu: inJSON}, {headers: { Authorization: "Bearer "+this.$store.state.userOperation.loginToken}}).then(()=>{
                alert("Mot de passe changé");
                this.$router.push({name: 'mainmenu'})  
            })
            .catch((e) =>{
                
                switch(e.response.status){
                    case 400: alert("Respectez la politique de mot de passe");
                    break;
                    case 440:
                        alert("Session expirée ou invalide");
                        this.$store.dispatch("userOperation/noToken");
                        this.$router.push({name:"home"});
                        break;
                    default:
                        alert("Connection impossible");
                }
            });
        }
    }
}
</script>

<style scoped>
.change-mdp{
    width: 100%;
    height: 100%;
    background-color:  #7fffd4;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

fieldset{
    display: flex;
    flex-wrap: wrap;
}

label, input, button{
    flex: 1 0 41%;
    height: 20px;
}
</style>