<template>
    <div class="vue-client">
        <table>
            <tr>
                <th>Nom</th>
                <th>Solde</th>
            </tr>
            <tr v-for="(item,index) in tableau" :key='index'>
                <th>{{item.nom}}</th>
                <th>{{item.solde}}</th>
            </tr>
        </table>
    </div>
</template>

<script>
import axios from 'axios'
export default {
    name: 'clientResidentiel',
    data(){
        return{
            tableau: []
        }
    },
    beforeMount(){
        axios.get("http://localhost:3000/client/residentiel", {headers: {Authorization: 'Bearer '+this.$store.state.userOperation.loginToken}}).then((response)=>{
                this.tableau = response.data;
            })
            .catch(() =>{
                alert("Session expirée ou invalide");
                this.$store.dispatch("userOperation/noToken");
                this.$router.push({name:"home"});
            });
    }
}
</script>

<style scoped>
.vue-client{
    width: 100%;
    height: 100%;
    background-color: #7fffd4;
    display: flex;
    justify-content: center;
    align-content: center;
}

table, th, td{
    border: 1px solid black;
}
</style>