<template>
    <div class="header">
        <div class="header-container">
            <div class="container-lien-gauche">
                <router-link :to="{name:'home'}">Home</router-link>
                <router-link :to="{name:'mainmenu'}" v-show="loggedIn">Menu</router-link>
            </div>
            <div>
                <button v-show="loggedIn" @click="logout">Logout</button>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
export default {
    name: 'Header',
    computed:{
        loggedIn(){
            return this.$store.state.userOperation.loggedIn;
        }
    },
    methods:{
        logout(){
            axios.post("http://localhost:3000/auth/logout", {}, {headers: { Authorization: "Bearer "+this.$store.state.userOperation.loginToken}}).then(()=>{}).catch(() =>{});
            this.$store.dispatch("userOperation/noToken");
            this.$router.push({name:"home"}).catch(()=>{});
        }
    }
    
}
</script>


<style scoped>
.header-container{
    padding-left: 150px;
    padding-right: 205px;
    height: 100%;
}

.header{
    height: 80px;
    width: 100%;
    background-color: #D1FAFF;
}

.header div{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.container-lien-gauche *{
    margin-right: 50px;
}

</style>