<template>
    <div class = 'main'>
        <div class="content-container">
            <router-view class="contenu-router"/>
        </div>
    </div>
</template>

<script>
export default {
    name: "Main"
}
</script>

<style scoped>

    .content-container{
        min-height: 600px;
        width: 1280px;
    }

    .main{
        display: flex;
        justify-content: center;
    }
</style>