<template>
    <div class= "home">
        <div class="login-container">
            <fieldset>
                <legend>Veuillez vous connecter</legend>

                <label for="username" >Username/Email:</label>
                <input name="username" v-model="username" type="text" placeholder="username/email" />

                <label for="password">Password:</label>
                <input name="password" type="password" v-model="password" placeholder="password"/>

                <button @click="toLogin">Login</button>
            </fieldset>
        </div>

    </div>
</template>

<script>
import axios from 'axios';
import TDESFormatter from '../../../utils/cryptoUtils';

export default {
    name: "Home",
    data(){
        return{
            username:"",
            password:""
        }
    },
    methods:{
        toLogin(){

            let encrypted = this.CryptoJS.TripleDES.encrypt(JSON.stringify({username: this.username, password:this.password}), "maClef");
            let inJSON =TDESFormatter.stringify(encrypted);
            axios.post("http://localhost:3000/auth/login", {contenu: inJSON}).then((response)=>{
                this.$store.dispatch("userOperation/setUsername", response.data.username);
                this.$store.dispatch("userOperation/setToken", response.data.token);
                this.$store.dispatch("userOperation/setRole", response.data.role);
                this.$router.push({name:"mainmenu"});
            })
            .catch(() =>{
                this.$store.dispatch("userOperation/noToken");
                alert("Connection impossible");
            })
        }
    }

}
</script>

<style scoped>
.home{
    background-color: #7fffd4;
    width: 100%;
    height: 100%;
}
</style>