<template>
    <div class="MainMenu">
        <div class="container">
            <router-link :to="{name:'residentiel'}" class="PageButtons" v-show="loggedIn && accesResidentiel"><button >Residentiel</button></router-link>
            <router-link :to="{name:'affaire'}" class="PageButtons" v-show="loggedIn && accesAffaire"><button >Affaire</button></router-link>
            <router-link :to="{name:'adminpanel'}" class="PageButtons" v-show="loggedIn && accesAdmin"><button >Gestion de Securité</button></router-link>
            <router-link :to="{name:'changemdp'}" class="PageButtons" v-show="loggedIn"><button >Changer de mot de passe</button></router-link>
        </div>
    </div>
</template>

<script>
export default {
    name: 'MainMenu',
    computed:{
        accesResidentiel(){
            return (this.$store.state.userOperation.role == 1 || this.$store.state.userOperation.role == 2);
        },
        accesAffaire(){
            return (this.$store.state.userOperation.role == 0 || this.$store.state.userOperation.role == 2);
        },
        accesAdmin(){
            return (this.$store.state.userOperation.role == 2);
        },
        loggedIn(){
            return this.$store.state.userOperation.loggedIn;
        },
        loggedUsername(){
            return this.$store.state.userOperation.loggedUsername;
        }
    }
}
</script>

<style scoped>
.MainMenu{
    background-color: #7fffd4;
    width: 100%;
    height: 100%;
}

.container{
    display: flex;
    flex-wrap: wrap;
}

.container .PageButtons{
    flex: 1 0 34%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 8%;
    margin-right: 8%;
    height: 50px;
    widows: 20px;
}

.container .PageButtons button{
    height: 100%;
    width: 100%;
}
</style>