<template>
    <div class="adminpanel">
        <div class="container">
            <fieldset>
                <legend>Politique de mot mot de passe</legend>

                <label for="minLength">Taille minimum</label>
                <input type = "number" id= "minLength" min="0" v-model="minLength">

                <label for="upperCase">Majuscules</label>
                <input type = "number" id= "upperCase" min="0" v-model="upperCase">

                <label for="lowerCase">Minuscules</label>
                <input type = "number" id= "lowerCase" min="0" v-model="lowerCase">

                <label for="digits">Chiffres</label>
                <input type = "number" id= "digits" min="0" v-model="digits">

                <label for="symbols">Symboles</label>
                <input type = "number" id= "symbols" min="0" v-model="symbols">

                <button @click="changePasswordPolicy">Changer</button>
            </fieldset>

            <fieldset>
                <legend>Paramètres de sécurité</legend>

                <label for="tentaMax">Tentatives max</label>
                <input type = "number" id= "tentaMax" min="0" v-model="tentaMax">

                

                <button @click="changeSecurityPolicy">Changer</button>
            </fieldset>

            <fieldset>
                <legend>Confirmez vos informations administrateur</legend>

                <label for="username" >Nom d'utilisateur:</label>
                <input name="username" v-model="username" type="text" placeholder="username" />

                <label for="password" >Ancien Mdp:</label>
                <input name="password" v-model="password" type="password" placeholder="password" />
            </fieldset>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import TDESFormatter from "../../../utils/cryptoUtils"

export default {
    name: 'AdminPanel',
    data(){
        return {
            minLength: 0,
            upperCase: 0,
            lowerCase: 0,
            digits: 0,
            symbols: 0,
            tentaMax: 0,
            username: "",
            password: ""
        }
    },

    methods:{
        changePasswordPolicy(){
            if(this.username == "" || this.password == ""){
                return alert("Veuillez entrer vos authentifications");
            }

            let encrypted = this.CryptoJS.TripleDES.encrypt(JSON.stringify({username: this.username, password: this.password,
                minLength: this.minLength, upperCase: this.upperCase, lowerCase: this.lowerCase, digits: this.digits, symbols: this.symbols}), "maClef");
            let inJSON =TDESFormatter.stringify(encrypted);

            axios.post("http://localhost:3000/security/passwordPolicy", {contenu: inJSON}, {headers: { Authorization: "Bearer "+this.$store.state.userOperation.loginToken}}).then(()=>{
                alert("Politique changée");
            })
            .catch((e) =>{
                if(e.response.status == 440){
                    alert("Session expirée ou invalide");
                    this.$store.dispatch("userOperation/noToken");
                    this.$router.push({name:"home"});
                }
            });
        },
        changeSecurityPolicy(){
            if(this.username == "" || this.password == ""){
                return alert("Veuillez entrer vos authentifications");
            }

            let encrypted = this.CryptoJS.TripleDES.encrypt(JSON.stringify({username: this.username, password: this.password, tentaMax: this.tentaMax}), "maClef");
            let inJSON =TDESFormatter.stringify(encrypted);

            axios.post("http://localhost:3000/security/securityPolicy", {contenu: inJSON}, {headers: { Authorization: "Bearer "+this.$store.state.userOperation.loginToken}}).then(()=>{
                alert("Politique changée");
            })
            .catch((e) =>{
                if(e.response.status == 440){
                    alert("Session expirée ou invalide");
                    this.$store.dispatch("userOperation/noToken");
                    this.$router.push({name:"home"});
                }
                
            });
        }
    }
}
</script>

<style scoped>

.adminpanel{
    width: 100%;
    height: 100%;
    background-color: #7fffd4;
}

.container{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

fieldset{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}

fieldset *{
    flex: 1 1 41%;
}





</style>